---
import App from '../components/App.jsx';
import '../styles/global.css'
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>OrfevreDev Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="bg-white text-gray-800">
    <App client:load />
  </body>
</html>